/* Base */
@import './base/_variables.css';
@import './base/_reset.css';

/* Components */
@import './components/_profile.css';
@import './components/_social.css';
@import './components/_links.css';
@import './components/_spotify.css';
@import './components/_features.css';
@import './components/_visual-effects.css';
@import './components/_advanced-features.css';
@import './components/_journey.css';

/* Layout */
@import './layout/_container.css';
@import './layout/_footer.css'; 